{{!


+++start+++

## <a id="commonDependsOn.mustache"></a>commonDependsOn.mustache<a class='navigator' href='#top'>[top]</a>


Common template to output key and value for `DependsOn`

**Attributes**: 

* `DependsOn` : resource name on which dependency defined

+++close+++

}}

{{! +++fold-on+++ }}


{{# DependsOn }}, "DependsOn" : "{{DependsOn}}"  {{/ DependsOn }} 


{{! +++fold-off+++ }}
