{{!

    mapping.mustache

+++start+++

## <a id="mapping.mustache"></a>mapping.mustache <a class='navigator' href='#top'>[top]</a>


Dispatches mapping sub-type templates based mapping Type propertys

**Attributes**: context=  `./mappings`

* `SubnetConfig`: 

+++close+++


}}


{{! +++fold-on+++ }}

{{# SubnetConfig }}{{> mappingSubnetConfig }}{{/ SubnetConfig }}


{{! +++fold-off+++ }}
