{{!

+++start+++


## <a id="resourceInstanceProfile.mustache"></a>resourceInstanceProfile.mustache <a class='navigator' href='#top'>[top]</a>

a container for an IAM role and enables you to pass role information to an Amazon EC2 instance when the instance starts

**Attributes**: context=  `./resources/Instance`

* `Name`: name of the InstanceProfile  to create



+++close+++

}}

{{! +++fold-on+++ }}


  "{{Name}}" : {
    "Type" : "AWS::IAM::InstanceProfile",
    "Properties" : {
      "Path" : "/",
      "Roles" : [{{# Roles}}{ "Ref": "{{Ref}}"}{{_comma}}{{/ Roles}} ]
    }
  },




{{! +++fold-off+++ }}
