{{!

+++start+++


## <a id="resourcePolicy.mustache"></a>resourcePolicy.mustache <a class='navigator' href='#top'>[top]</a>

To assign permissions to a user, group, role, or resource, you create
a policy, which is a document that explicitly lists permissions.

**Attributes**: context=  `./resources/Policy`

* `Name`: name of the Role to create
* `Statements` array of
   * `Effect`: Allow/Deny
   * `Action`: list of actions for the policy
   * `Resource`: arn of the resource for the policy. Attribute value
     is either a single string or the concatenation of an array of
     strings.


+++close+++

}}

{{! +++fold-on+++ }}

"{{Name}}" : {
    "Type" : "AWS::IAM::Policy",
    "Properties" : {
        "PolicyName" : "{{Name}}",
        "Roles" : [ { "Ref" : "{{RoleRef}}" } ],
        "PolicyDocument" : {
            "Statement" : [ 
                 {{# Statements }} 
                 {
                    "Effect" : "{{Effect}}",
                    "Action" : [ {{{Actions}}} ],
                    "Resource" : "{{# Resource}}{{.}}{{/ Resource}}"
                 }{{_comma}}
                 {{/ Statements }}
            ]
        }
    }
}{{_comma}}


{{! +++fold-off+++ }}
