{{!

+++start+++

## <a id="mappings.mustache"></a>mappings.mustache <a class='navigator' href='#top'>[top]</a>


Create fixed lookup tables `AWSInstanceType2Arch` and
`AWSRegionArch2AMI` implementing the table below

<code><pre>
ap-northeast-1    trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-90815290    hvm
ap-southeast-1    trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-0accf458    hvm
ap-southeast-2    trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-1dc8b127    hvm
cn-north-1        trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-eae27fd3    hvm
eu-central-1      trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-3248712f    hvm
eu-west-1         trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-d74437a0    hvm
sa-east-1         trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-0f6ced12    hvm
us-east-1         trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-83c525e8    hvm
us-gov-west-1     trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-51513172    hvm
us-west-1         trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-61b25925    hvm
us-west-2         trusty    14.04 LTS    amd64    hvm:ebs-ssd    20150528    ami-57e8d767    hvm
</pre></code>


**Attributes**: context=  `.`

* none


**Actions**:

* **AWSInstanceType2Arch**: fixed key/value mapping, currently only
    **t2.micro** --> **64bit**

* **AWSRegionArch2AMI**: fixed key/value mapping created, currently
    architectures only for **64bits**


+++close+++


==================================================================
The template
==================================================================

}}


{{! +++fold-on+++ }}

      "AWSInstanceType2Arch" : {
      "t2.micro"    : { "Arch" : "64" }
      },
      "AWSRegionArch2AMI" : {
           "ap-northeast-1" : { "64" : "ami-90815290" },
           "ap-southeast-1" : { "64" : "ami-0accf458" },
           "ap-southeast-2" : { "64" : "ami-1dc8b127" },
           "cn-north-1" : { "64" : "ami-eae27fd3" },
           "eu-central-1" : { "64" : "ami-3248712f" },
           "eu-west-1" : { "64" : "ami-d74437a0" },
           "sa-east-1" : { "64" : "ami-0f6ced12" },
           "us-east-1" : { "64" : "ami-83c525e8" },
           "us-west-1" : { "64" : "ami-61b25925" },
           "us-gov-west-1" : { "64" : "ami-51513172" },
           "us-west-2" : { "64" : "ami-57e8d767" }
      }



{{! +++fold-off+++ }}
