{{!

+++start+++


## <a id="resourceS3Bucket.mustache"></a>resourceS3Bucket.mustache <a class='navigator' href='#top'>[top]</a>

Create an S3 Bucket - with default 'PublicRead'

**Attributes**: context=  `./resources/Instance`

* `Name`: name of the S3 bucket to create
* `DeletionPolicy`: attribute you can preserve or (in some cases) backup
  a resource when its stack is deleted. Valid values `Delete`,
  `Retain` (default), `Snapshot`

+++close+++

}}

{{! +++fold-on+++ }}


    "{{Name}}" : {
      "Type" : "AWS::S3::Bucket"
      , "DeletionPolicy" : "{{# DeletionPolicy }}{{DeletionPolicy}}{{/ DeletionPolicy}}{{^ DeletionPolicy }}Retain{{/ DeletionPolicy}}"
      , "Properties" : {
          "BucketName" : "{{Name}}"
          {{! 
              ,"LifecycleConfiguration": {  "Rules" : [ ] }
	      }}
      }
    }{{_comma}}

{{! +++fold-off+++ }}
