{{!


+++start+++

## <a id="commonCfnSignal.mustache"></a>commonCfnSignal.mustache<a class='navigator' href='#top'>[top]</a>

**NOT USED**

<strike>
Common template to send a signlan

**Attributes**: 

* `WaitHandle` : to signal
* `Message`    : text message for the signal

</strike>

+++close+++

}}


{{! +++fold-on+++ }}

{{# WaitHandle}}  
   ,    "HANDLE='", { "Ref" : "{{WaitHandle}}" }, "'\n"
   ,   "echo \"Signal success '{{WaitHandle}}' -handle with message '{{Message}}'\" \n"
   ,   "type cfn-signal && sudo cfn-signal --success true --reason \"{{Message}}\" $HANDLE \n"
{{/ WaitHandle}}  


{{! +++fold-off+++ }}
