{{!


+++start+++

## <a id="commonRef.mustache"></a>commonRef.mustache<a class='navigator' href='#top'>[top]</a>

Common template to output reference (in context)

**Attributes**: 

* `.`: referenece in context

+++close+++

}}

{{! +++fold-on+++ }}

{ "Ref": "{{.}}" }

{{! +++fold-off+++ }}
