{{!


+++start+++

## <a id="commonDependsOn.mustache"></a>commonDependsOn.mustache<a class='navigator' href='#top'>[top]</a>


Common template to output key and value for `DependsOn`

**Attributes**: 

* `DependsOn` : resource name/array on which dependency defined

Example depends on `resource1`

       DependsOn: resource1


Example depends on `resource1`, `resource2`

       DependsOn: 
	       - resource1
   	       - resource2
	   

+++close+++

}}

{{! +++fold-on+++ }}

{{! Array context define 'any?' }}
{{# DependsOn.any? }} 
   , "DependsOn" :  {{{DependsOn}}}
{{/ DependsOn.any? }} 


{{! String does not define 'any?' }}
{{^ DependsOn.any? }} 
{{# DependsOn }} 
   , "DependsOn" :  "{{{DependsOn}}}"  
{{/ DependsOn }} 
{{/ DependsOn.any? }} 


{{! +++fold-off+++ }}
