{{!


+++start+++


## <a id="initializeCFtools.mustache"></a>initializeCFtools.mustache<a class='navigator' href='#top'> [top]</a>

An [adapted](https://gist.github.com/kixorz/10194688) Ubuntu
CloudFormation Tools installation snippet.

**Attributes**: 

* none

+++close+++

}}


{{! +++fold-on+++ }}
  ,    "sudo apt-get -y install python-setuptools  \n"
  ,    "[ -d aws-cfn-bootstrap-latest  ] || mkdir aws-cfn-bootstrap-latest  \n"
  ,    "curl https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-latest.tar.gz | tar xz -C aws-cfn-bootstrap-latest --strip-components 1  \n"
  ,    "sudo easy_install aws-cfn-bootstrap-latest  \n"

{{! +++fold-off+++ }}
