{{!


+++start+++


## <a id="initializeStartCfnHup.mustache"></a>initializeStartCfnHup.mustache<a class='navigator' href='#top'> [top]</a>

Launch cfn-hup helper, which is a daemon that detects changes in
resource metadata and runs user-specified actions when a change is
detected

**Attributes**: 


+++close+++

}}


{{! +++fold-on+++ }}
  , "cfn-hup   \n"


{{! +++fold-off+++ }}
