{{!

    mapping.mustache

+++start+++

## <a id="mapping.mustache"></a>mapping.mustache <a class='navigator' href='#top'>[top]</a>


Dispatches mapping sub-type templates based mapping Type propertys

**Attributes**: context=  `./mappings`

* `SubnetConfig`: output [mappingSubnetConfig.mustache](#mappingSubnetConfig.mustache)
* `AmazonVpcNat`: output [mappingAmazonVpcNat.mustache](#mappingAmazonVpcNat.mustache)

+++close+++


}}


{{! +++fold-on+++ }}

{{# SubnetConfig }}{{> mappingSubnetConfig }}{{/ SubnetConfig }}
{{# AmazonVpcNat }}{{> mappingAmazonVpcNat }}{{/ AmazonVpcNat }}


{{! +++fold-off+++ }}
