{{!

+++start+++


## <a id="resourceS3Bucket.mustache"></a>resourceS3Bucket.mustache <a class='navigator' href='#top'>[top]</a>

Create an S3 Bucket - with default 'PublicRead'

**Attributes**: context=  `./resources/Instance`

* `Name`: name of the S3 resource to create
* `BucketName`: A name for the bucket. If you don't specify a name,
  AWS CloudFormation generates a unique physical ID and uses that ID
  for the bucket name.
* `DeletionPolicy`: attribute you can preserve or (in some cases) backup
  a resource when its stack is deleted. Valid values `Delete`,
  `Retain` (default), `Snapshot`

+++close+++

}}

{{! +++fold-on+++ }}


    "{{Name}}" : {
      "Type" : "AWS::S3::Bucket"
      {{> commonCreationPolicy }}
      , "DeletionPolicy" : "{{# DeletionPolicy }}{{DeletionPolicy}}{{/ DeletionPolicy}}{{^ DeletionPolicy }}Retain{{/ DeletionPolicy}}"
      , "Properties" : {
          {{# BucketName }} "BucketName" : "{{BucketName}}" {{/ BucketName }}
          {{! 
              ,"LifecycleConfiguration": {  "Rules" : [ ] }
	      }}
      }
    }{{_comma}}

{{! +++fold-off+++ }}
