{{!


+++start+++


## <a id="resourceSecurityGroup.mustache"></a>resourceSecurityGroup.mustache <a class='navigator' href='#top'>[top]</a>

Create an EC2 Security Group

**Attributes**: 

* `Name` : of the security group
* `VpcId`: The Reference name physical ID of the VPC.  given as commonValue, [commonValue.mustache](#commonValue.mustache)
* `SecurityGroupIngress`: create array of ingress rules with [commonXGressRule.mustache](#commonXGressRule.mustache)
* `SecurityGroupEgress`: create array of ingress rules with [commonXGressRule.mustache](#commonXGressRule.mustache) template

+++close+++

}}

{{! +++fold-on+++ }}

    "{{Name}}" : {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Enable SSH access via port 22"
        {{# VpcId }}, "VpcId": {{> commonValue }} {{/ VpcId }}
        , "SecurityGroupEgress" : [ 
                {{# SecurityGroupEgress }}
                     {{> commonXGressRule }}{{_comma}}
                {{/ SecurityGroupEgress }}
        ]
        , "SecurityGroupIngress" : [ 
                {{# SecurityGroupIngress }}
                     {{> commonXGressRule }}{{_comma}}
                {{/ SecurityGroupIngress }}
        ]
      }
    }{{_comma}}

{{! +++fold-off+++ }}
