{{!

+++start+++


## <a id="resourcePolicy.mustache"></a>resourcePolicy.mustache <a class='navigator' href='#top'>[top]</a>

To assign permissions to a user, group, role, or resource, you create
a policy, which is a document that explicitly lists permissions.

**Attributes**: context=  `./resources/Policy`

* `Name`: name of the Role to create
* `Statements` array of
   * `Effect`: Allow/Deny
   * `Action`: list of actions for the policy
   * `Resource`: array of [commonValues](#commonValue.mustache) concatenated to create resource reference


+++close+++

}}

{{! +++fold-on+++ }}

"{{Name}}" : {
    "Type" : "AWS::IAM::Policy",
    "Properties" : {
        "PolicyName" : "{{Name}}",
        "Roles" : [ { "Ref" : "{{RoleRef}}" } ],
        "PolicyDocument" : {
            "Statement" : [ 
                 {{# Statements }} 
                 {
                    "Effect" : "{{Effect}}",
                    "Action" : [ {{{Actions}}} ],
                    "Resource" : 
					  {{^ Resource.length }} "{{ Resource }}" {{/ Resource.length }} 
					  {{# Resource.length }} {  "Fn::Join" : [ "", [ {{/ Resource.length }} 
  						 {{# Resource }}{{> commonValue }}{{ _comma }} {{/ Resource}}
             		  {{# Resource.length }}] ] } {{/ Resource.length }} 
                 }{{_comma}}
                 {{/ Statements }}
            ]
        }
    }
}{{_comma}}


{{! +++fold-off+++ }}
