{{!


+++start+++


## <a id="resourceSubnet.mustache"></a>resourceSubnet.mustache <a class='navigator' href='#top'>[top]</a>

Creates a subnet in an existing VPC.

**Attributes**: 

* `Name` : of the VPC resource
* `CidrBlock` or as [commonKeyValue.mustache](#commonKeyValue.mustache)
* `VpcId`: resource name of VPC
* `MapPublicIpOnLaunch`: Indicates whether instances that are
   launched in this subnet receive a public IP address. By default,
  the value is `false`.
* `Tags`: (optional) as [commonKeyValue.mustache](#commonKeyValue.mustache)
* `RoutetableAssociation`: Associates a subnet with a route table.


+++close+++

}}

{{! +++fold-on+++ }}


  "{{Name}}" : {
   "Type" : "AWS::EC2::Subnet"
	{{> commonDependsOn }}
   , "Properties" : {
         "CidrBlock" : "{{CidrBlock}}"
       , "Tags" : [ {{# Tags }}{{> commonKeyValue }}{{_comma}}{{/ Tags }}]
       , "MapPublicIpOnLaunch" : {{^MapPublicIpOnLaunch}}false{{/ MapPublicIpOnLaunch}}{{# MapPublicIpOnLaunch}}{{MapPublicIpOnLaunch}}{{/ MapPublicIpOnLaunch}}
       , "VpcId" : {{#VpcId}} {{> commonRef }} {{/VpcId}}
   }
}

{{# RoutetableAssociation }}
, "{{Name}}RouteTableAssociation" : {
     "Type" : "AWS::EC2::SubnetRouteTableAssociation",
     "Properties" : {
         "RouteTableId" : {{> commonRef }}
      ,   "SubnetId" : {{# ..}}{{# Name}}{{> commonRef }}{{/ Name }}{{/ .. }}
   }
}

{{/ RoutetableAssociation }}
{{_comma}}

{{! +++fold-off+++ }}
