{{!


+++start+++


## <a id="resourceInternetGateway.mustache"></a>resourceInternetGateway.mustache <a class='navigator' href='#top'>[top]</a>

Creates a new Internet gateway in your AWS account. After creating the
Internet gateway, attach it to a VPC, and create/attach a routetable
to `Vpc`, and add a routetable entry entry to enable internet
access on `Vpc` && `Subnet`

**Attributes**: context=  `./resources/InstanceSecurityGroup`

* `Name` : of the Internet Gateway
   * `Subnet`: reference to VPC where to attach route to InternetGateway
   * `Tags`: (optional) as [commonKeyValue.mustache](#commonKeyValue.mustache)
   * `Attachment` : sub document defining attachment to vpc
       * `AttachmentName` of the attachment resource
       * `Vpc`: reference to VPC where to atttace



+++close+++

}}

{{! +++fold-on+++ }}

{{! Create internet gateway }}
"{{Name}}" : {
    "Type" : "AWS::EC2::InternetGateway",
    "Properties" : {
     	"Tags" : [ { "Key":  "Name", "Value": "{{Name}}" }
                     {{# Tags }},{{> commonKeyValue }}{{_comma}}{{/ Tags }}
            ]
    }
 }


{{# Attachment }}
{{! Attache the internet gateway created to VPC }}
, "{{AttachmentName}}" : {
      "Type" : "AWS::EC2::VPCGatewayAttachment",
      "Properties" : {
        "VpcId" : { "Ref" : "{{Vpc}}" },
		{{! reference to internet gateway name }}
        "InternetGatewayId" : {{# .. }} {{# Name }} {{> commonRef }}{{/ Name }}{{/ .. }}
    }
} 
{{/ Attachment }}



{{! Create a route table for VPC }}

, "RouteTable{{Name}}" : {
      "Type" : "AWS::EC2::RouteTable",
      "Properties" : {
{{# Attachment }}	  
        "VpcId" : { "Ref" : "{{ Vpc }}" },
{{/ Attachment }}		
        "Tags" : [ 
		           {"Key": "Name", "Value" : "RouteTable{{Name}}" }
		         , {"Key" : "Application", "Value" : { "Ref" : "AWS::StackId"} } 
				 ]
      }
}



{{! Add a route to internet gateway created }}

, "Route{{Vpc}}" : {
    "Type" : "AWS::EC2::Route",
{{# Attachment }}
     "DependsOn" : "{{AttachmentName}}",
 {{/ Attachment }}
      "Properties" : {
          "RouteTableId" : { "Ref" : "RouteTable{{Name}}" }
          , "DestinationCidrBlock" : "0.0.0.0/0"
          , "GatewayId" : { "Ref" : "{{Name}}" }
     }
}

{{! Associates a subnet with a route table. }}

, "RouteTableAssociation{{Subnet}}" : {
    "Type" : "AWS::EC2::SubnetRouteTableAssociation"
   , "Properties" : {
         "SubnetId" : { "Ref" : "{{Subnet}}" }
       , "RouteTableId" : { "Ref" : "RouteTable{{Name}}" }
     }
}

{{_comma}}
	


{{! +++fold-off+++ }}
